<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HAQQIMIZDA & ƏLAQƏ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            BIZIMLE ELAQE
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-label>Mövzu</ion-label>
              <ion-input type="text" placeholder="" [(ngModel)]="title"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Adınız</ion-label>
              <ion-input type="text" placeholder="" [(ngModel)]="fullName"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Email</ion-label>
              <ion-input type="email" placeholder="" [(ngModel)]="email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Mesajın mətni</ion-label>
              <ion-textarea [(ngModel)]="message"></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="success" data-toggle="modal" data-target="#deleteModal" (click)="submitForm()">
                GÖNDƏR
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

